snippet ff
	<%= form_for @${1:model} do |f| %>
		${0}
	<% end %>

snippet tf
	<div class="form-group">
		<%= f.label :${1:field_name} %>
		<%= f.text_field :$1, class: "form-control" %>
	</div>

snippet checkbox
	<div class="checkbox">
		<%= f.label :${1:checkbox_name} do %>
		  <%= f.check_box :$1 %> ${2:Label name}
		<% end %>
	</div>

snippet submit
	<%= f.submit ${0}class: "btn btn-primary" %>
