snippet html
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>Document</title>
		</head>
		<body>
		</body>
	</html>

snippet d
	<div>
		${0}
	</div>

snippet dc
	<div class="${1}">
		${0}
	</div>

snippet p
	<p>
		${0}
	<p>

snippet pc
	<p class="${1}">
		${0}
	<p>
